<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlayaYear</key>
	<string>2023</string>
	<key>EventStart</key>
	<date>2023-08-27T07:00:00Z</date>
	<key>EventEnd</key>
	<date>2023-09-04T07:00:00Z</date>
	<key>ManCenterLatitude</key>
	<real>40.7864</real>
	<key>ManCenterLongitude</key>
	<real>-119.2035</real>
</dict>
</plist>
