<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlayaYear</key>
	<string>2025</string>
	<key>EventStart</key>
	<date>2025-08-24T07:00:00Z</date>
	<key>EventEnd</key>
	<date>2025-09-01T07:00:00Z</date>
	<key>ManCenterLatitude</key>
	<real>40.786969</real>
	<key>ManCenterLongitude</key>
	<real>-119.204101</real>
</dict>
</plist>
