[submodule "Submodules/iBurn-Data"]
	path = Submodules/iBurn-Data
	url = git@github.com:Burning-Man-Earth/iBurn-Data.git
[submodule "Submodules/DOFavoriteButton"]
	path = Submodules/DOFavoriteButton
	url = git@github.com:chrisballinger/DOFavoriteButton.git
