[submodule "Submodules/iBurn-Data"]
	path = Submodules/iBurn-Data
	url = git@github.com:Burning-Man-Earth/iBurn-Data.git
[submodule "Submodules/DOFavoriteButton"]
	path = Submodules/DOFavoriteButton
	url = git@github.com:chrisballinger/DOFavoriteButton.git
[submodule "Submodules/ASDayPicker"]
	path = Submodules/ASDayPicker
	url = git@github.com:chrisballinger/ASDayPicker.git
[submodule "Submodules/mapbox-ios-sdk"]
	path = Submodules/mapbox-ios-sdk
	url = git@github.com:Burning-Man-Earth/mapbox-ios-sdk.git
[submodule "Submodules/PermissionScope"]
	path = Submodules/PermissionScope
	url = git@github.com:Burning-Man-Earth/PermissionScope.git
[submodule "Submodules/Mapbox-Pod"]
	path = Submodules/Mapbox-Pod
	url = https://github.com/iBurnApp/Mapbox-Pod.git
