.DS_Store
build
*.mode1v3
*.pbxuser
project.xcworkspace
xcuserdata
.svn
DerivedData
*.orig
/iBurn/BRCSecrets.m
/iBurn/InfoPlistSecrets.h

/Pods/

.env
iBurn/crashlytics.sh

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output