[submodule "Submodules/iBurn-Data"]
	path = Submodules/iBurn-Data
	url = git@github.com:iBurnApp/iBurn-Data.git
#	url = git@github.com:iBurnApp/iBurn-Data-Private.git
[submodule "Submodules/PermissionScope"]
	path = Submodules/PermissionScope
	url = git@github.com:Burning-Man-Earth/PermissionScope.git
[submodule "Submodules/Onboard"]
	path = Submodules/Onboard
	url = git@github.com:iBurnApp/Onboard.git
