<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>caches</key>
	<array>
		<dict>
			<key>type</key>
			<string>memory-cache</string>
			<key>capacity</key>
			<integer>32</integer>
		</dict>
	</array>
</dict>
</plist>
